* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Brush Script MT", cursive;
    padding: 90px 20px 0;
}

/* Estilo para el encabezado con colores pastel */
.header {
    background-color: #F5B7B1; /* Fondo rosa pastel */
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Estilo de la barra de navegación */
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

/* Estilo de los enlaces de navegación */
.nav-link {
    color: #FDFEFE; /* Color de texto blanco */
    text-decoration: none;
}

/* Estilo para el logo con colores pastel */
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    color: #AF7AC5; /* Color morado pastel */
}

/* Menú de navegación */
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

/* Elementos del menú de navegación */
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

/* Efecto hover con transición de color */
.nav-menu-link:hover {
    background-color: #F9E79F; /* Color amarillo pastel */
    transition: 0.5s;
}

/* Estilo para los enlaces del menú */
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 4px;
    color: #AF7AC5; /* Color morado pastel */
}